<!DOCTYPE html>
<html lang="en">
<%- include ('../includes/head.ejs') %> 
<body>
<%- include ('../includes/navigation.ejs') %> 
<!--------------------------------------
HEADER
--------------------------------------->
<div class="container">
	<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
					<p class="text-uppercase font-weight-bold">
						<a class="text-danger" href="./category.html">Stories</a>
						<br/>
						<%for (let tag of post.tags){%>
							<a class="text-success" href="/c/<%= tag %>"><%= tag %></a>
						<%}%>
						<a class="text-danger" href="./category.html"></a>
					</p>
					<h1 class="display-4 secondfont mb-3 font-weight-bold"><%= post.title %></h1>
					<p class="mb-3">
						<%= post.subtitle %>
						
					</p>
					<div class="d-flex align-items-center">
						<img class="rounded-circle" src="/assets/img/demo/avatar2.jpg" width="70">
						<small class="ml-2"><a href="/user/<%= post.userId._id %>"><%= post.userId.username %></a><span class="text-muted d-block">A few hours ago &middot; 5 min. read</span>
						</small>
					</div>
				</div>
				<div class="col-md-6 pr-0">
					<img src="<%= post.imageUrl %>">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Header -->
    
    
<!--------------------------------------
MAIN
--------------------------------------->
    
<div class="container pt-4 pb-4">
	<div class="row justify-content-center">
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top text-center">
				<div class="text-muted">
					Share this
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-8">
			<article class="article-post">
			<%= post.content %>
			</article>
			<div class="border p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-5 mb-2 mb-md-0">
						<h5 class="font-weight-bold secondfont">Become a member</h5>
						 Get the latest news right in your inbox. We never spam!
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<input type="text" class="form-control" placeholder="Enter your e-mail address">
							</div>
							<div class="col-md-12 mt-2">
								<button type="submit" class="btn btn-success btn-block">Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
<div class="container pt-4 pb-4">
	<h5 class="font-weight-bold spanborder"><span>Read next</span></h5>
	<div class="row">
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">
				<div style="background-image: url(./assets/img/demo/3.jpg); height: 150px; background-size: cover; background-repeat: no-repeat;">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="#">Brain Stimulation Relieves Depression Symptoms</a>
					</h2>
					<p class="card-text">
						 Researchers have found an effective target in the brain for electrical stimulation to improve mood in people suffering from depression.
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
						<small class="text-muted">Dec 12 路 5 min read</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				<% for (let other of userPost) { %>
				<div class="mb-3 d-flex align-items-center">
					<img width="100" height="80" src="<%= other.imageUrl %>">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html"><%= other.title %></a>
						</h2>
						<div class="card-text text-muted small">
							<%= post.userId.username %> 
						</div>
						<small class="text-muted">Dec 12 路 5 min read</small>
					</div>
				</div>
				<%}%>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/assets/img/demo/blog5.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Underwater museum brings hope to Lake Titicaca</a>
						</h2>
						<div class="card-text text-muted small">
							 Jake Bittle in LOVE/HATE
						</div>
						<small class="text-muted">Dec 12 路 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/assets/img/demo/blog6.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Sun-skimming probe starts calling home</a>
						</h2>
						<div class="card-text text-muted small">
							 Jake Bittle in LOVE/HATE
						</div>
						<small class="text-muted">Dec 12 路 5 min read</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include ('../includes/footer.ejs') %> 
</body>
<script src="/assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>